@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 

.bg-pattern {
	background-color: #d4d99b;
}

@media (min-width: 768px) {
	.bg-pattern {
		background-size: auto 100%;
		background-position: left center;
		background-repeat: no-repeat;
	}
}

.admin-background {
	background: radial-gradient(circle at top left, #f8fdca 0%, #ffffff 30%);
}